# Dependencies\nnode_modules/\n.pnp\n.pnp.js\n\n# Testing\n/.coverage\n/.nyc_output\n\n# Next.js\n/.next/\n/out/\n\n# Production\n/build\n/dist\n\n# Misc\n.DS_Store\n*.pem\n*.log\n.env\n.env.local\n.env.development.local\n.env.test.local\n.env.production.local\n\n# IDE\n.vscode/\n.idea/\n*.swp\n*.swo\n*~\n.project\n.classpath\n.c9/\n*.launch\n.settings/\n*.sublime-workspace\n\n# Prisma\nprisma/*.db\nprisma/*.sqlite\nprisma/migrations/\n